<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-home">
    <section class="p-home1">
        <div class="l-container">
            <div class="c-about">
                <div class="c-about__tilte">
                    <img src="../assets/img/about.png" alt="">
                </div>
                <div class="c-about__content u-center">
                    <img src="../assets/img/about-text.png" alt="">
                </div>
                <div class="c-about__btn u-center">
                    <img src="../assets/img/btn-about.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="p-home2">
        <div class="l-container">
            <div class="c-news">
                <div class="c-news__title">
                    <div class="c-title u-center">
                        <img class="c-news__line" src="../assets/img/text-news.png" alt="">
                    </div>
                </div>
                <div class="c-list col--col3">
                    <div class="c-list__card">
                        <div class="c-news__item">
                            <img src="../assets/img/news-item-img.png" alt="">
                            <div class="c-news__date">
                                <img src="../assets/img/text-news-item.png" alt="">
                            </div>
                        </div>
                        <div class="c-news__content">
                            <img src="../assets/img/content-text-news.png" alt="">
                        </div>
                    </div>
                    <div class="c-list__card">
                        <div class="c-news__item">
                            <img src="../assets/img/news-item-img.png" alt="">
                            <div class="c-news__date">
                                <img src="../assets/img/text-news-item.png" alt="">
                            </div>
                        </div>
                        <div class="c-news__content">
                            <img src="../assets/img/content-text-news.png" alt="">
                        </div>
                    </div>
                    <div class="c-list__card">
                        <div class="c-news__item">
                            <img src="../assets/img/news-item-img.png" alt="">
                            <div class="c-news__date">
                                <img src="../assets/img/text-news-item.png" alt="">
                            </div>
                        </div>
                        <div class="c-news__content">
                            <img src="../assets/img/content-text-news.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-home3">
        <div class="l-container">
            <div class="c-gallery">
                <div class="c-gallery__title">
                    <div class="c-title u-center">
                        <img class="c-gallery__line" src="../assets/img/title-gallery.png" alt="">
                    </div>
                </div>
            </div>
            <div class="c-list col--col2">
                <div class="c-list__card">
                    <div class="c-gallery__item">
                        <img src="../assets/img/background-gallery.png" alt="">
                        <div class="c-gallery__date">
                            <img src="../assets/img/date-grallray.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-gallery__item">
                        <img src="../assets/img/item-graylle.png" alt="">
                        <div class="c-gallery__date">
                            <img src="../assets/img/date-grallray.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>