	<!--▼ Footer ▼-->
	<footer class="c-footer">
		<div class="l-container">
			<nav class="c-footer__inner">
				<ul>
					<li><a href=""><img src="../../assets/img/footer-text.png" alt=""></a></li>
					<li><a href=""><img src="../../assets/img/icon1.png" alt=""></a></li>
					<li><a href=""><img src="../../assets/img/icon2.png" alt=""></a></li>
					<li><a href=""><img src="../../assets/img/icon3.png" alt=""></a></li>
					<li><img src="../../assets/img/text-copy.png" alt=""></li>
				</ul>
			</nav>
		</div>
	</footer>
	<!--▲ Footer ▲-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>