<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<div class="l-container">
			<div class="c-menu btn-menu sp-only">
				<img src="../../assets/img/open.png" class="_open" alt="">
				<img src="../../assets/img/close.png" class="_close" alt="">
			</div>
			<nav class="c-gnav">
				<ul>
					<li><a href=""><img src="../../assets/img/menu-text.png" alt=""></a></li>
					<li><a href=""><img src="../../assets/img/menu-text1.png" alt=""></a></li>
					<li><a href=""><img src="../../assets/img/menu-text2.png" alt=""></a></li>
					<li><a href=""><img src="../../assets/img/menu-text3.png" alt=""></a></li>
					<li><a href=""><img src="../../assets/img/menu-text4.png" alt=""></a></li>
					<li><a href=""><img src="../../assets/img/menu-text5.png" alt=""></a></li>
				</ul>
			</nav>

			<div class="c-project">
				<div class="c-project__title u-center">
					<img src="../../assets/img/logo.png" alt="">
				</div>
				<div class="c-project__slide">
					<div class="c-project__img u-center">
						<img src="../../assets/img/logo-center.jpg" alt="">
					</div>
					<div class="c-project__content">
						<div class="c-project__text">
							<img src="../../assets/img/view-profile.png" alt="">
						</div>
						<div class="c-project__btn u-center">
							<img src="../../assets/img/btn-join.png" alt="">
						</div>
					</div>
					<div class="c-project__shadow u-center">
						<img src="../../assets/img/box-shadow.png" alt="">
					</div>
				</div>
				<div class="c-project__direction u-center">
					<img src="../../assets/img/direction.png" alt="">
				</div>
			</div>
		</div>
	</header>
	<!--▲ Header ▲-->
